* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MarkGEO";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.svg#MarkGEO-Light")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.eot?#iefix")
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEO";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.svg#MarkGEO-Regular")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEO";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.svg#MarkGEO-Medium")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.eot?#iefix")
      format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEO";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.svg#MarkGEO-SemiBold")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-SemiBold/MarkGEO-SemiBold.eot?#iefix")
      format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEO";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.svg#MarkGEO-Bold")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Bold/MarkGEO-Bold.eot?#iefix")
      format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEOCAPS";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.svg#MarkGEOCAPS-Light")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.eot?#iefix")
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEOCAPS";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.svg#MarkGEOCAPS-Regular")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEOCAPS";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.svg#MarkGEOCAPS-Medium")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot?#iefix")
      format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEOCAPS";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.svg#MarkGEOCAPS-SemiBold")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.eot?#iefix")
      format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MarkGEOCAPS";
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.svg#MarkGEOCAPS-Bold")
      format("svg"),
    url("https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.eot?#iefix")
      format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.svg#BOG-UltraBold")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.svg#BOG-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.svg#BOG-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.svg#BOG-Headline-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.svg#BOG-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.svg#BOG-Headline-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Medium.svg#BOG-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.svg#BOG-Headline-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.svg#BOG-Headline-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.svg#BOG-Headline-UltraBold")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.svg#BOG-Headline-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG Headline";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff2")
      format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff")
      format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.svg#BOG-Headline-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.ttf")
      format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.svg#BOG-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot");
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff2") format("woff2"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff") format("woff"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.ttf") format("truetype"),
    url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.svg#BOG-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.container-main {
  height: auto;
  min-height: 410px;
  width: 100%;
  background-image: linear-gradient(30deg, #484055, #53616f);
  padding: 50px;
  position: relative;
  display: flex;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.container-flex__title {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
  max-width: 1980px;
  margin: auto;
  width: 100%;
  margin-bottom: 32px;
}

.container-flex__titleSPAN[slot="title"] {
  font-family: MarkGEOCAPS;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;
}

.container-flex__titleSPAN[slot="date"] {
  font-family: MarkGEO;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #93939e;
}

.container\:flex {
  display: flex;
  flex-direction: column;
}

.container__button[slot="calculator__btn"] {
  color: rgba(255, 255, 255, 0.92);
  background-color: #ff600a;
  text-transform: uppercase;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px 0 24px;
  cursor: pointer;
  font-family: MarkGEOCAPS, sans-serif;
  font-size: 14px;
  transition: opacity 200ms ease-in-out, color 200ms ease-in-out,
    background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  user-select: none;
  margin-left: 135px;
  font-weight: 500;
  overflow: hidden;
}

.container__button[slot="calculator__btn"]:hover {
  background-color: #ff6c1d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.container__button[slot="calculator__btn"] svg {
  width: 16px;
  height: 16px;
}

.container-bottom-section {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.container-card {
  margin: 0 32px 0 0;
  font: inherit;
  display: flex;
  background-color: #fff;
  width: 368px;
  height: 188px;
  border-radius: 5px;
}

.card__container {
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.card__head {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 25px;
  line-height: 25px;
  width: 100%;
  margin: 32px 0 16px;
  box-sizing: border-box;
  padding: 0 32px;
}

.card__currency {
  margin-right: 16px;
  background-color: #ee3b37;
  font: inherit;
  display: flex;
  width: 49px;
  min-width: 49px;
  height: 25px;
  line-height: 25px;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  font-family: MarkGEOCAPS;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
}

.card__name {
  flex: 1;
  font: inherit;
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  font-family: MarkGEO, sans-serif;
}

.card__button {
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  font-family: MarkGEO, sans-serif;
  background-color: transparent;
  color: #ff6c1d;
  fill: #ff6c1d;
  user-select: none;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  font-family: MarkGEOCAPS, sans-serif;
  font-size: 14px;
  transition: opacity 200ms ease-in-out, color 200ms ease-in-out,
    background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  border: none;
  outline: none;
}

.card__button svg {
  width: 16px;
  height: 16px;
}

.card__button:hover {
  color: #fd9157;
}

.card__content {
  display: flex;
  flex-direction: row;
  padding: 0 32px;
}

.card__content > div.item:first-child {
  width: 93px;
}

.card__content > div.item {
  display: flex;
  flex-direction: column;
}

.card__content > div.item span {
  font-family: MarkGEOCAPS;
  display: flex;
  line-height: 9px;
  padding-bottom: 16px;
  font-size: 12px;
  font-weight: 500;
}

.rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-divisor {
  width: 1px;
  background: #000;
  opacity: 0.05;
  margin: 53px 22px 0 8px;
  height: 25px;
}

.card__container > div.item:last-child {
  flex: 1;
}

.rates__content {
  flex-grow: 0;
  font: inherit;
  display: inline-flex;
  flex-direction: column;
}

.label {
  display: flex;
  font-size: 12px;
  min-height: 12px;
  font-weight: 300;
  line-height: 9px;
  margin-bottom: 13px;
  font-family: MarkGEO;
}

.bank__rate {
  display: flex;
  line-height: 17px;
  font-weight: 600;
  font-family: MarkGEO;
  font-size: 18px;
}

.diff__rate {
  display: flex;
  color: #ee3b37;
  font-size: 12px;
  line-height: 12px;
  margin-top: 2px;
}

.diff__rate svg {
  pointer-events: none;
  display: block;
  width: 9px;
  height: 9px;
  color: currentColor;
  fill: currentColor;
  margin-right: 5px;
}

.direction\:column {
  flex-direction: column;
}

.container-card:last-child {
  margin: 0;
}

.container__center {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item__courseSPAN {
  font-family: MarkGEOCAPS;
  display: flex;
  line-height: 9px;
  padding-bottom: 16px;
  font-size: 12px;
  font-weight: 500;
}

.item__containerDisplay {
  display: none;
}

.all__coursesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1168px;
  padding: 32px 0;
  margin: 0 auto;
}

.all__courses__topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.all__courses__topSection span {
  font-family: MarkGEO;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
}

.all__courses__topSection input {
  display: flex;
  padding: 8px 24px;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #646464;
  outline: none;
  width: auto;
  width: 200px;
  font-family: MarkGEO;
  font-size: 12px;
  transition: border-color 200ms ease;
}

.all__courses__topSection input:focus-within,
.all__courses__topSection input:hover {
  border: 1px solid #b1b1b1;
}

.all__courses__bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.all__courses__bottomSectionTable {
  display: table;
  width: 100%;
}

.all__courses__bottomSectionTableBody {
  display: table-row-group;
}

.table-header {
  background: #ffffff;
  font-family: MarkGEO;
  font-size: 14px;
  color: #646464;
  text-align: left;
  font-weight: 500;
}

.table-row {
  display: table-row;
  height: 64px;
}

.table-row > *:nth-child(2) {
  width: 240px;
}

.table-header:first-of-type > .table-cell:nth-child(3) {
  width: 230px;
}

.table-row > * {
  vertical-align: middle;
}

.table-row > *:last-child {
  width: 100px;
}

.table-row:first-of-type .table-cell {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.table-cell {
  display: table-cell;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 22px;
  height: 64px;
}

.table-row > .table-cell:nth-child(3) > div {
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 150px;
}

.table-row > .table-cell:nth-child(3) > div > * {
  width: 50%;
  text-align: left;
}

.table-odd-element:nth-child(odd) {
  background-color: #f5f5f5;
}

.table-cell .card__name {
  font-family: MarkGEO;
  font-size: 14px;
  color: #333333;
  padding-left: 16px;
  padding-left: 0px;
}

.table-cell-container {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.table-cell-bank-rate {
  display: flex;
  line-height: 17px;
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 600;
  color: black;
}

.table-cell-diff-rate {
  color: #ee3b37;
  display: flex;
  font-size: 12px;
  line-height: 12px;
}

.table-cell-diff-rate-content {
  display: inline-flex;
  font: inherit;
  text-decoration: inherit;
  width: auto;
  gap: 10px;
}

.table-cell-price-paragraph {
  color: #000;
  font-size: 18px;
}

.all__courses__button__seeMore {
  margin-top: 48px;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.92);
  text-transform: uppercase;
  height: 56px;
  max-height: 56px;
  padding: 0 34px 0 34px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: MarkGEOCAPS;
  font-size: 14px;
  transition: opacity 200ms ease-in-out 0s, color 200ms ease-in-out 0s,
    background-color 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s;
  user-select: none;
  overflow: hidden;
  font-weight: 500;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  border: none;
  outline: none;
}

.all__courses__button__seeMore[disabled] {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.32);
  pointer-events: none;
  box-shadow: none;
}

.all__courses__button__seeMore[disabled]:hover {
  box-shadow: none;
}

.all__courses__button__seeMore:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.calculator__wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  flex-direction: column;
  transition: background 0.3s ease 0s;
}

.container__calculator {
  display: flex;
  position: fixed;
  align-items: flex-start;
  width: 100vw;
  height: -webkit-fill-available;
  top: 0px;
  right: -105vw;
  bottom: 0px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
}

.container__calculator[is-active=""] {
  right: 0px;
}

.container__calculator[is-active=""] .calculator__container {
  right: 0;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  width: 648px;
  right: calc(-1 * 648px);
  height: 100vh;
  background-color: #fcfcfc;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  transition: right 0.3s;
  z-index: 1001;
}

.calculator__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calculator__header {
  display: flex;
  align-items: center;
  min-height: 88px;
  max-height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background: #fcfcfc;
  color: #000;
  padding: 40px;
}

.calculator__header__close__button {
  margin-left: 16px;
  margin-right: calc(0px - 8px);
  color: #000;
}

.calculator__header__close__button button {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  padding: 0 8px;
  cursor: pointer;
  height: 36px;
  background-color: transparent;
  box-shadow: none;
  justify-content: center;
  border-radius: 50%;
  transition: opacity 200ms ease-in-out, color 200ms ease-in-out,
    background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  border: none;
  outline: none;
}

.calculator__header__close__button button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.container__calculator__closeButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
}

.container__calculator__closeButton svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.32);
}

.calculator__header__title__wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.calculator__header__title__wrapper span {
  font-weight: 500;
  font-family: "BOG Headline";
  text-transform: uppercase;
  font-size: 14px;
}

.calculator__bottomSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  /* next time check for scroll bar active */
}

.calculator__bottomSectionContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  /* next time check for scroll bar active */
}

.calculator__bottomSection__content {
  padding: 32px 40px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.calculator__bottomSection__whereSpan {
  font-family: MarkGEO;
  color: #777777;
  margin-top: 23px;
  font-size: 14px;
}

.calculator__bottomSection__whereContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.calculator__bottomSection__whereContainer input {
  display: flex;
  height: 65px;
  flex: 1;
  padding: 16px 24px;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  border-radius: 2px;
  color: #3d3d3d;
  outline: none;
  margin-top: 13px;
  font-family: MarkGEO;
  font-size: 14px;
  transition: border-color 200ms ease;
}

.calculator__bottomSection__whereContainer input:hover,
.calculator__bottomSection__whereContainer input:focus-within {
  border: 1px solid #b1b1b1;
}

.calculator__bottomSection__selectBox {
  width: 286px;
  border: 1px solid red;
  border-radius: 2px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 13px;
  height: 65px;
  border: 1px solid #d8d8d8;
}

.calculator__bottomSection__selectBox__WrapperContainer {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
  transition: border-color 200ms ease;
  cursor: pointer;
  padding: 16px 24px;
}

.calculator__bottomSection__selectBox__WrapperContainerFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calculator__bottomSection__selectBox__WrapperContainerFlexSpan {
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  will-change: transform;
  transform: translateY(-5px);
  transition: transform 200ms ease 100ms, font-size 200ms ease 100ms;
  padding-right: 42px;
  font-family: MarkGEO;
  color: #646464;
}

.calculator__bottomSection__selectBox__WrapperContainerFlexSpanCourse {
  margin-top: 11px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: MarkGEO;
  color: #3d3d3d;
}

.calculator__bottomSection__selectBox__Wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  max-width: 100%;
}

.calculator__bottomSection__content select {
  display: flex;
  width: 237px;
  padding: 16px 24px;
  height: 66px;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  border-radius: 2px;
  color: #3d3d3d;
  margin-top: 27px;
  appearance: none;
  font-family: MarkGEO;
  font-size: 14px;
}

.container__calculator[is-active=""] .calculator__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
}

.calculator__logoWrapper {
  display: flex;
  justify-content: center;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 25px;
  max-height: 25px;
  min-height: 25px;
  overflow: hidden;
  margin-left: initial;
}

.calculator__logoWrapperContent {
  display: flex;
  width: 49px;
  min-width: 49px;
  height: 25px;
  line-height: 25px;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  font-family: MarkGEOCAPS;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  background-color: #3d3d3d;
}

.calculator__logoWrapperContentSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator__selectBoxIcon {
  width: 12px;
  max-width: 12px;
  min-width: 12px;
  margin-left: 4px;
  transition: transform 0.15s ease-in-out;
  color: #b1b1b1;
}

.calculator__selectBoxIcon[is-active="true"] {
  transform: rotate(180deg);
}

.calculator__suggestions {
  transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
  visibility: visible;
  opacity: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 78px;
  width: 50%;
  right: 0;
  pointer-events: none;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 2px;
  background-color: #fff;
  color: #646464;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 205px;
  max-height: 205px;
}

.calculator__suggestions[isActive="true"] {
  opacity: 1;
  pointer-events: visible;
}

.calculator__suggestions__content {
  max-height: 205px;
  height: 205px;
}

#suggestions::-webkit-scrollbar {
  width: 6px;
}

#suggestions::-webkit-scrollbar-track {
  border-radius: 2px;
}

#suggestions::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 2px;
}

.calculator__suggestions__section {
  display: flex;
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  height: 57px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.calculator__suggestions__sectionSpan {
  display: flex;
  flex-grow: 1;
  font-family: MarkGEO;
}

@media all and (max-width: 1216px) {
  .container-bottom-section {
    flex-direction: column;
  }
  .container-card:nth-child(1) {
    margin: 0 !important;
  }
  .container-card {
    margin: 32px 0 0 0 !important;
  }
  .container-flex__title {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .container__button[slot="calculator__btn"] {
    margin-left: 0;
    margin-top: 24px;
  }
  .container__center {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media all and (max-width: 768px) {
  .container-flex__titleSPAN[slot="title"] {
    font-size: 24px;
  }
}

@media all and (max-width: 720px) {
  .container-main {
    padding: 58px 24px 64px 24px;
  }
}

@media all and (max-width: 480px) {
  .card__currency {
    font-size: 12px;
    width: 36px;
    min-width: 36px;
  }
}

@media all and (max-width: 416px) {
  .card__content {
    padding: 0 25px;
    flex-direction: column;
  }
  .card__head {
    height: 21px;
    line-height: 21px;
    width: 100%;
    margin: 32px 0 16px;
    padding: 0 23px;
  }
  .container-card {
    width: 272px;
    height: 245px;
  }
  .vertical-divisor {
    margin: 0;
  }
  .responsive__item {
    display: none !important;
  }
  .item__containerDisplay > div.item:first-child {
    display: none;
  }
  .item__containerDisplay > div.item {
    margin-top: 8px;
  }
  .item__containerDisplay {
    display: block;
  }
  .item__courseSPAN {
    display: flex;
    line-height: 7px;
    padding-bottom: 11px;
    font-family: MarkGEOCAPS;
    font-size: 10px;
    font-weight: 500;
  }
  .card__name {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }
  .card__content > div.item span {
    display: flex;
    line-height: 7px;
    color: var(--color-greyish-brown);
    padding-bottom: 11px;
    font-size: 10px;
    font-weight: 500;
  }
}
